.card_item {
  // aka card
  width: 375px;
  height: 420px;

  margin: 1rem;

  display: flex;
  flex-direction: column;

  border: 1px solid grey;

  @include card-small-medium {
    width: 100%;
  }

  .card_item_top {
    height: 75%;
    background-color: black;

    .card_item_top_img {
      object-fit: contain;
      height: 100%;

      width: 100%;
    }
  }

  .card_item_bottom {
    height: 25%;
    padding: 0.5rem;
    border: none;
    background-color: grey;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: all 1s ease-in-out;
    &:hover {
      cursor: pointer;
    }

    .card_item_bottom_title {
      font-size: 1.2rem;
      font-weight: bold;
    }
    .card_item_bottom_description {
      font-style: italic;
      font-size: 1.1rem;
    }
    .card_item_bottom_details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .card_item_bottom_details_info {
        .card_item_bottom_details_info_icon {
          height: 30px;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
