.detail_page {
  min-height: auto;
  background-color: black;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding: 1rem;

  .detail_page_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    @include medium {
      flex-direction: column;
    }
    .detail_page_top_left {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48%;

      @include medium {
        width: 100%;
      }
      .detail_page_top_left_card_detail {
        height: 900px;
        width: 100%;
        border: 1px solid black;

        background-color: black;

        border-radius: 5px;

        @include extralarge {
          height: 700px;
        }

        @include medium {
          height: 500px;
          width: 100%;
          margin-bottom: 1rem;
        }

        .detail_page_top_left_card_detail_img {
          width: 100%;
          height: 100%;
          object-fit: contain;

          @include small {
            // height: auto;
          }
        }
      }
    }

    .detail_page_top_right {
      width: 48%;

      background-color: #19191c;

      display: flex;
      flex-direction: column;
      justify-content: center;

      border-radius: 1rem;
      

      @include medium {
        width: 100%;
      }

      .detail_page_top_right_top {
        .detail_page_top_right_top_title {
          text-transform: uppercase;
          font-size: 2rem;
          padding-left: 1rem;

          @include small {
            font-size: 1.5rem;
          }
        }
      }
      .detail_page_top_right_bottom {
        display: flex;
        flex-direction: column;

        .detail_page_top_right_bottom_details {
          margin-bottom: 1rem;
          padding-left: 1rem;

          font-size: 1.5rem;
          font-weight: bolder;

          @include small {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
