@import './variables.scss';

.nav {
  position: absolute;
  left: 0;
  // height: 100vh;
  // works better this way

  width: 200px;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 1rem;

  @include medium {
    padding: 0.5rem 0rem;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 60px;

    border-bottom: 1px solid grey;
  }

  @include extrasmall {
    padding: none;
  }

  .nav_logo {
    display: flex;
    flex-direction: column;

    height: 140px;
    width: 100%;

    padding: 1rem;

    align-items: center;
    justify-content: center;

    border-bottom: 1px solid grey;

    @include medium {
      width: auto;
      height: 100%;
      padding: 0rem;
      margin-left: 1rem;
      border-bottom: none;
    }

    .nav_logo_img {
      height: 80px;
      margin-bottom: 1rem;

      @include medium {
        margin-bottom: 0;
        height: 100%;
      }
    }

    .nav_logo_text {
      font-size: 2rem;
      font-weight: bolder;
      text-transform: uppercase;

      @include medium {
        display: none;
      }
    }
  }

  .nav_options {
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 1rem;

    @include medium {
      height: 100%;
      justify-content: flex-end;
      flex-direction: row;

      padding: 0rem;
    }

    .nav_options_menu {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 1rem 0.5rem;

      @include medium {
        flex-direction: row;
      }

      .nav_options_menu_item {
        padding: 0.5rem;
        width: 100%;

        display: flex;
        justify-content: flex-start;

        transition: all 0.5s ease-in-out;
        &:hover {
          cursor: pointer;
          color: red;
          // TODO: replace
        }

        .nav_options_menu_item_icon {
          width: 30px;
          margin-right: 0.7rem;

          @include medium {
            margin-right: 0.5rem;
            width: 24px;
          }
          @include small {
            margin-right: 0.4rem;
          }
        }

        .nav_options_menu_item_text {
          text-transform: uppercase;
          font-weight: bolder;
          @include medium {
            font-size: 0.8rem;
          }
          @include small {
            font-size: 0.6rem;
          }
          @include extrasmall {
            display: none;
          }
        }
      }
    }
  }
}
