// styles for all pages

.page2 {
  padding: 1rem;
  width: auto;
  min-height: 1048px;
  background-color: green;
}

.page {
  width: calc(100% - 232px);
  height: 100vh;
  padding-left: 232px;
  margin-bottom: 1rem;

  @include medium {
    padding-left: 0;
    padding-top: 92px;
    width: auto;
  }

  .page_top {
    background-color: red;

    .page_top_title {
      padding: 1rem;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .page_top_title_right span {
      margin-left: 1rem;
    }

    .page_top_info {
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: bolder;
      text-transform: uppercase;
    }

    .page_top_options {
      padding: 1rem;
    }

    .page_top_options span {
      margin-right: 1rem;
    }
  }

  .page_bottom {
    background-color: orange;

    display: flex;
    flex-direction: column;

    @include medium {
    }

    .page_bottom_items_container {
      width: 100%;
      height: 800px;
      background-color: red;

      display: flex;
      flex-wrap: wrap;

      justify-content: space-between;
      .page_bottom_items_container_item {
        // aka card
        width: 300px;
        height: 200px;
        border: 1px solid black;
        margin: 1rem;
      }
    }

    .page_bottom_pagination {
      width: 100%;
      height: 30px;
      padding: 1rem;
      background-color: crimson;

      display: flex;
      justify-content: center;
      align-items: center;

      .page_bottom_pagination_options {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
