// styles for all pages

.page {
  width: calc(100% - 233px);

  padding: 0rem 0rem 0rem 233px;

  @include medium {
    padding-left: 0rem;
    padding-top: 78px;
    width: 100vw;
  }

  display: flex;
  flex-direction: column;

  .page_top {
    background-color: black;

    .page_top_title {
      padding: 0.5rem 1rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .page_top_title_text {
        font-size: 2rem;
        font-weight: bold;

        @include medium {
          font-size: 1.5rem;
        }
        @include small {
          font-size: 1.1rem;
        }
        @include extrasmall {
          font-size: 0.9rem;
        }
      }

      .page_top_title_right {
        display: flex;

        align-items: center;

        .page_top_title_right_status {
          display: flex;
          align-items: center;
          margin-right: 0.5rem;

          .page_top_title_right_status_text {
            margin-right: 0.5rem;
            font-weight: bold;
            @include small {
              display: none;
            }
          }
        }

        .page_top_title_right_login {
          .page_top_title_right_login_img {
            width: 30px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    // .page_top_title_right span {
    //   margin-left: 1rem;
    // }

    .page_top_info {
      padding: 0.5rem 1rem;
      font-size: 1.8rem;
      font-weight: bold;
      text-transform: uppercase;
      @include small {
        font-size: 1.1rem;
      }
      @include extrasmall {
        font-size: 0.9rem;
      }
    }

    .page_top_options {
      padding: 0.5rem 1rem;
      display: flex;

      @include small {
        flex-direction: column;
      }
    }

    .page_top_options span {
      margin-right: 1rem;

      @include small {
        margin: 0.2rem 0;
      }
    }
  }

  .page_bottom {
    display: flex;
    flex-direction: column;

    @include medium {
    }

    .page_bottom_items_container {
      width: 100%;
      min-height: 800px;

      display: flex;
      flex-wrap: wrap;

      justify-content: space-between;
    }

    .page_bottom_pagination {
      width: 100%;
      height: 30px;
      padding: 1rem 0rem;
      border-top: 1px solid #19191c;
      background-color: #19191c;

      display: flex;
      justify-content: center;
      align-items: center;

      .page_bottom_pagination_options {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// NEW STYLES

// .page {
//   width: calc(100% - 232px);

//   padding: 1rem 1rem 1rem 248px;

//   @include medium {
//     padding-left: 0;
//     padding-top: 92px;
//     width: auto;
//   }

//   display: flex;
// }
